<%= form_for @location do |f| %>
	<%= f.hidden_field :user_id, value: session[:user_id] %>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
		<%= f.text_field :apt_name, placeholder: "Apartment Name", class: "form-control" %>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
		<%= f.text_field :address, placeholder: "Address", class: "form-control" %>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
		<%= f.text_field :city, placeholder: "City", class: "form-control" %>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
		<%= f.text_field :state, placeholder: "State", class: "form-control" %>
	</div>
	<br>
	<div class="input-group">
		<span class="input-group-addon"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
		<%= f.text_field :zip, placeholder: "Zip", class: "form-control" %>
	</div>
	<br>
	<div class="form-group">
		<%= f.submit 'Submit', class: "btn btn-primary" %>
	</div>
<% end %>