<div class="jumbotron">
	<div class="container">
		<h1 class="text-center"><%= "Welcome #{@user.name.capitalize}" %></h1>
	</div>
</div>

<% if session[:is_admin] == true %>
	<div class="row">
		<div class="col-md-6 .col-sm-6 .col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">You own the following properties:</h3>
				</div>
				<div class="panel-body">
					<%= render 'home/table' %>
				 </div>
			</div>
		</div>

		<div class="col-md-6 .col-sm-6 .col-xs-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">Add a location:</h3>
				</div>
				<div class="panel-body">
					<%= render 'home/form' %>
				</div>
			</div>
		</div>
	</div>

<% else%>
	<div class="row">
  		<div class="col-md-6 .col-sm-6 .col-xs-6 col-md-offset-3">
  			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="text-center">Landlord Info</h3>
				</div>
				<div class="panel-body">
					<h4 class="text-center">Landlord's name: <%= @landlord.name.capitalize %></h4>
					<h4 class="text-center">Landlord's email: <%= @landlord.email %></h4><br>
					<%= link_to "Send Message", nil, class: "btn btn-primary btn-block" %>
				</div>
			</div>
		</div>
	</div>
<% end%>
