<div class="row">
  <div class="col-md-6 .col-sm-6 .col-xs-6 col-md-offset-3">
  	<div class="panel panel-default">
		<div class="panel-body">
			<%= image_tag @location.apt_image, class: "img-responsive" %><br>

		</div>
		<div class="panel-footer">
			<h3><%= "#{@location.apt_name} Apartments" %></h3>
			<address>
			  	<%= @location.address %><br>
			  	<%= "#{@location.city}, #{@location.state} #{@location.zip}" %><br>
			</address><hr>
			<%= link_to "Home", home_path, class: "btn btn-primary" %>
		</div>
	</div>
  </div>
</div>

